nav {
  z-index: 10;
  border-bottom: 2px solid var(--color-secondary);
  height: 7rem;
  @include flexBox();
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @supports (backdrop-filter: blur()) {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  @supports not (backdrop-filter: blur()) {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .logo {
    height: 100%;
    width: auto;
    position: absolute;
    right: 2rem;
    top: 0;
    @include flexBox;
    @include respond(tab-port) {
      height: 58px;
    }

    a {
      @include flexBox;
      text-decoration: none;
      img {
        position: relative;
        height: 50px;
        width: 50px;
        top: -6px;

        @include respond(phone) {
          height: 35px;
          width: 35px;
        }
      }

      span {
        font-size: 4rem;
        font-family: "Dancing Script", cursive;
        color: var(--color-secondary);
        display: inline-block;
        @include respond(tab-port) {
          font-size: 36px;
        }
        @include respond(phone) {
          font-size: 25px;
        }
      }
    }
  }

  .nav-toggle {
    display: none;
    font-size: 3rem;
    color: white;
    margin: 0 2rem;
    cursor: pointer;

    span {
      display: block;
      margin: 6px 0;
      height: 4px;
      width: 35px;
      background-color: var(--color-secondary);
      border-radius: 50px;
      pointer-events: none;
      transition: 0.4s;

      &:nth-child(2) {
        width: 25px;
      }
    }

    @include respond(tab-port) {
      display: inline-block;
    }
  }

  .menu-item {
    ul {
      @include flexBox;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        height: 100%;
        list-style: none;
        margin: 0 1rem;

        a {
          font-family: "Courgette", cursive;
          display: inline-block;
          text-decoration: none;
          font-size: 2.5rem;
          color: var(--color-secondary);
          padding: 1.2rem 1rem;
          transition: 0.3s;

          @include respond(tab-port) {
            font-size: 3.5rem;
            margin: 1rem 0;
          }
          @include respond(phone) {
            font-size: 5.5rem;
            margin: 1.5rem 0;
          }

          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  animation: navAnimation 0.5s linear;
}
