.mainSectionhide {
  transform: translateX(-100%);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.menuSectionhide {
  transform: translateX(100%);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.active {
  transition: 0.4s;
  height: 252px;

  .nav-toggle {
    span {
      &:nth-child(1) {
        width: 25px;
      }

      &:nth-child(2) {
        width: 35px;
      }

      &:nth-child(3) {
        width: 25px;
      }
    }
  }
}
